---
import { storyblokEditable, renderRichText } from '@storyblok/astro'
import { Picture } from 'astro:assets';

const { blok } = Astro.props
const content = renderRichText(blok.hero_content)
const heroImage = blok.hero_image.filename
const heroImageDimensions = heroImage.split('/')[5].split('x')
---
<div class="container max-w-4xl"  {...storyblokEditable(blok)}>
  <div class="flex flex-col gap-4 p-8 md:p-24">
    {heroImage && <Picture formats={['avif', 'webp']} loading="eager" src={heroImage} width={heroImageDimensions?.[0]} height={heroImageDimensions?.[1]} alt={blok?.hero_image?.alt} class="w-fit h-48 mb-8 md:mb-12" />}
    <Fragment set:html={content} />
    {blok?.social_links?.length >= 0 && (
      <ul class="mt-12 flex gap-4">
        {blok?.social_links?.map(({ link, title }: { link: any, title:string }, index: number) => {
          const url = link?.linktype === "email" ? `mailto:${link?.email}` : link?.url
          return (
            <>
              <li>
                <a href={url} target={link?.target} class="social">{title}</a>
              </li>
              {index !== blok?.social_links?.length - 1 && <li>&bull;</li>}
            </>
          )
        })}
      </ul>
    )}
  </div>
</div>